html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Mono", monospace;
    margin: 0;
    padding: 0;
    background: black;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    border: 1px solid #2a2a2a;
}

.logo {
    height: 40px;
    margin-left: 10px;
}

#post-form {
    background-color: black;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

#post-text {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#post-image {
    margin-bottom: 10px;
    width: 100%;
}

#posts {
    margin: 20px auto;
}

.post {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: left;
    border: none;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.post img, .post video {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

#post-image-label {
    display: flex;
    align-items: center;
    color: #ccc;
    cursor: pointer;
}

.image-icon {
    margin-right: 10px;
}

#post-image {
    display: none;
}

#post-image-label:hover {
    color: #fff;
}

#post-form textarea {
    resize: none;
}

.like-button {
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

/* CSS for the post button */
#post-form button[type="submit"] {
    background-color: #4267B2; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.like-button.liked {
    background-color: #4267B2; /* Or any color you prefer */
}

.comment-button {
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}