body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, purple, indigo);
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2a2a2a;
}

.logo {
    height: 40px;
    margin-left: 10px;
}

.buttons button {
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: #2a2a2a;
    background-color: white;
    cursor: pointer;
}

.faq {
    max-width: 600px;  
    margin: 0px auto;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.question-title {
    cursor: pointer;
}

.answer {
    display: none;
}

.footer {
    background-color: #2a2a2a; /* Dark background color */
    color: #ffffff; /* Text color */
    padding: 20px 0; /* Add padding for spacing */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.footer-links a {
    color: #ffffff; /* Link color */
    text-decoration: none;
    margin-right: 10px; /* Add spacing between links */
}

.about-us {
    flex-grow: 0;
}

.logo-separator {
    display: flex;
    align-items: center;
}

.logo-separator hr {
    flex-grow: 2; /* Grow to fill available space */
    border-color: #ffffff; /* Horizontal line color */
    margin-right: 20px; /* Add spacing between the line and logo */
    margin-left: 20px;
}

.logo-separator img {
    height: 30px;
}
