<!DOCTYPE html>
<html lang="en">
<head>
    <!--EN: Default setup to UFT-8 and viewport for responsive desing, 
        connection of index.css, Space Mono font and icons, setup of the title for the page-->
    <!--CZ: Základní nastavení na UTF-8 a viewportu pro responsivní design, 
        připojení index.css, fontu Space Mono a ikon, nastavení title pro stránku-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" user-scalable=no>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b767968911.js" crossorigin="anonymous"></script>
    <title>OneGame | A Place To Play</title>
</head>
<body>
    <!--EN: Header with a logo and buttons for registration and login-->
    <!--CZ: Header s logem a tlačítky pro registraci a přihlášení -->
    <div class="header">
        <a href="">
            <img src="images/Onegame.png" alt="Logo" class="logo" draggable="false">
        </a>
        <div class="buttons">
            <button data-value="Register" onclick="location.href='/register'">Register</button>
            <button data-value="Login" onclick="location.href='/login'">Login</button>
        </div>
    </div>

    <!--EN: Logos, which appear when you load/refresh the site-->
    <!--CZ: Loga, která se objeví při načtení/refreshnutí stránky-->
    <div id="backToTop" onclick="scrollToTop()">
        ↑
      </div>
    <div class="logo2-container">
        <img src="images/Onegame2.png" alt="Logo2" class="logo2" draggable="false">
    </div>
    <div class="logo3-container">
        <img src="images/Onegame3.png" alt="Logo3" class="logo3" draggable="false">
    </div>

    <!--EN: Split section with a question mark and responses for some common questions -->
    <!--CZ: Rozdělená sekce s otazníkem a odpovědmi na nějaké základní otázky -->
    <div class="split-section">
        <div class="left-half">
            <h2 data-value="What is Onegame?">What is Onegame?</h2>
            <p>OneGame is a new social network for gamers.</p>
            <p>Trying to find someone to play with? Try our social network.</p>
            <p>Are you just looking for some cool clips? We have them.</p>
            <p>Wanna post some of your clips or screenshots? We welcome your input.</p>
        </div>

        <div class="right-half">
            <div class="question-mark">
                <h1>?</h1>
            </div>
        </div>
    </div>

    <!--EN: Section with pictures for style-->
    <!--CZ: Sekce s obrázky pro styl-->
    <div class="section">
        <div class="wrapper">
            <div class="container">
                <input type="radio" name="slide" id="c1" checked>
                <label for="c1" class="card">
                    <div class="row">
                        <div class="icon">1</div>
                        <div class="description">
                            <h4>Play Games</h4>
                            <p>Enjoy your favorite games</p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c2" >
                <label for="c2" class="card">
                    <div class="row">
                        <div class="icon">2</div>
                        <div class="description">
                            <h4>Get Together</h4>
                            <p>Connect with everyone</p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c3" >
                <label for="c3" class="card">
                    <div class="row">
                        <div class="icon">3</div>
                        <div class="description">
                            <h4>Gaming</h4>
                            <p>Gaming connects us all</p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c4" >
                <label for="c4" class="card">
                    <div class="row">
                        <div class="icon">4</div>
                        <div class="description">
                            <h4>Communicate</h4>
                            <p>Voicechat with other people</p>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>

    <!--EN: Last part for desing with a heart and its animation + button for registration-->
    <!--CZ: Poslední část pro design se srdíčkem a jeho animací + tlačítko na registraci -->
    <div class="section2">
        <div class="heart-container">
            <img src="images/heart.png" id="heart" alt="Heartbeat Animation" draggable="false">
        </div>
        <div class="section2text">
            <h2 data-value="Passion of Love">Passion of Love</h2>
            <p>Gaming is our passion and it has been like that for several years. </p>
            <p>Come in and join us now.</p> 
        </div>
        <div class="registerbutton">
            <button data-value="Register" onclick="location.href='/register'">Register</button>
        </div>
    </div>
    
    <!--EN: Footer with links to social sites, important links and a logo -->
    <!--CZ: Footer s odkazy na sociální sítě, důležité odkazy a logo -->
    <footer class="footer-grid">
        <div class="footer-item">
            <h2>Follow Us</h2>
            <ul>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
            </ul>
        </div>
        <div class="footer-item">
            <h2>Links</h2>
            <ul>
                <li><small><a href="#" class="link-style">About</a></small></li>
                <li><small><a href="#" class="link-style">Terms of Service</a></small></li>
                <li><small><a href="#" class="link-style">Privacy Policy</a></small></li>
                <li><small><a href="#" class="link-style">Advertising</a></small></li>
                <li><small><a href="#" class="link-style">Support</a></small></li>
                <li><small><a>© 2024 OneGame.gg</a></small>
            </ul>
        </div>
        <div class="empty-space">
            <!--EN: Empty space in grid for better appearance-->
            <!--CZ: Prázdné místo v gridu pro lepší vzhled-->
        </div>
        <div class="footer-logo">
            <img src="images/Onegame.png" title="onegamegg"draggable="false">
        </div>
    </footer>

<script>
    //EN: Script for displaying logos 2 and 3
    //CZ: Skript pro zobrazení loga 2 a 3 
    document.addEventListener("DOMContentLoaded", function() {
        const logo2 = document.querySelector(".logo2");
        const logo3 = document.querySelector(".logo3");

        logo2.style.opacity = 0;
        logo3.style.opacity = 0;
 
        setTimeout(() => {
            logo2.style.transition = "opacity 1s ease-in-out";
            logo2.style.opacity = 1;
        }, 500); 

        setTimeout(() => {
            logo3.style.transition = "opacity 1s ease-in-out";
            logo3.style.opacity = 1;
        }, 1000); 
    });
</script>

<script>
    //EN: Effect for mixing letter on buttons (longer)
    //CZ: Efekt mixování písmenek na tlačítkách (delší)
    document.querySelectorAll(".buttons button, .registerbutton button").forEach(button => {
        button.onmouseover = event => {
            let iterations = 0;
            const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz?!";

            const interval = setInterval(() => {
                event.target.innerText = event.target.dataset.value
                .split("")
                .map((letter, index) => {
                    if (index < iterations) {
                            return event.target.dataset.value[index];
                    }
                    return letters[Math.floor(Math.random() * letters.length)];
                })
                .join("");

            if (iterations >= event.target.dataset.value.length) {
                clearInterval(interval);
            }

            iterations += 1 / 3;
            }, 30); //CZ: Čas intervalu //EN: Time of the interval
        };
    });
</script>

<script>
    //EN: Effect for mixing letter on h2 (shorter)
    //CZ: Efekt mixování písmenek na h2 (kratší)
    document.querySelectorAll("h2").forEach(button => {
        button.onmouseover = event => {
            let iterations = 0;
            const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz?!";

            const interval = setInterval(() => {
                event.target.innerText = event.target.dataset.value
                .split("")
                .map((letter, index) => {
                    if (index < iterations) {
                        return event.target.dataset.value[index];
                    }
                    return letters[Math.floor(Math.random() * letters.length)];
                })
                .join("");

            if (iterations >= event.target.dataset.value.length) {
                clearInterval(interval);
            }

            iterations += 1 / 3;
            }, 17); //CZ: Čas intervalu //EN: Time of the interval
        };
    });
</script>

<script>
    window.onscroll = function() {
  scrollFunction();
};

function scrollFunction() {
  var backToTopButton = document.getElementById("backToTop");
  if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
    backToTopButton.style.display = "block";
  } else {
    backToTopButton.style.display = "none";
  }
}

function scrollToTop() {
  window.scrollTo({
    top: 0,
    behavior: "smooth"
  });
}
</script>
</body>
</html>